* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: rgb(180, 180, 180);
    font-family: "Open Sans", sans-serif;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration-line: none;
    font-size: 20px;
    color: black;
}

.line {
    height: 3px;
    background-color: blue;
}

.form_section{
    background-color: greenyellow;
}

table{
    border-collapse: collapse;
}